@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --font-size-heading-1: 1.813rem; /* 29px*/
    --font-size-heading-2: 1.625rem; /* 26px*/
    --font-size-heading-3: 1.438rem; /* 23px*/
    --font-size-heading-4: 1.25rem; /* 20px*/
    --font-size-heading-5: 1.125rem; /* 18px*/
    --font-size-heading-6: 1rem; /* 16px*/
  }

  @font-face {
    font-family: 'Fabrik';
    font-weight: 400;
  }

  @font-face {
    font-family: 'Fabrik';
    font-weight: 700;
  }

  html {
    font-family: Fabrik, Arial, sans-serif;
    line-height: 1.7;
    font-size: 16px;
    background-color: #f5f5f5;
  }

  h1 {
    font-size: var(--font-size-heading-1);
  }

  h2 {
    font-size: var(--font-size-heading-2);
  }

  h3 {
    font-size: var(--font-size-heading-3);
  }

  h4 {
    font-size: var(--font-size-heading-4);
  }

  h5 {
    font-size: var(--font-size-heading-5);
  }

  h6 {
    font-size: var(--font-size-heading-6);
  }
}
